<!DOCTYPE html>
	<html>
		<head>
			<title>VM WORKSHEET</title>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">			
			<link rel="stylesheet" type="text/css" href="../../css/vendor/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="../../css/vendor/datepicker.css">
			<link rel="stylesheet" type="text/css" href="../../css/dashboard.css">
		</head>
	<body>

   <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link signout-link" href="">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file"></span>
                  Orders
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="shopping-cart"></span>
                  Products
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="users"></span>
                  Customers
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="bar-chart-2"></span>
                  Reports
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="layers"></span>
                  Integrations
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>DVM Team</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Current month
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Last quarter
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Social engagement
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Year-end sale
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">RECORD A WORKSHEET</h1>
          </div>

          <div class="item">
            <label>Username: </label>
            <input type="text" id="user-input" disabled>
          </div>
          <div class="item">
            <label>Date:</label>
            <input type="text" id="date-input" class="date-picker">
          </div>
          <div class="item">
            <label>Choose SBU:</label>
            <select id="sbu_list">
              <option value="">--Please Select SBU--</option>
              <option value="south">South</option>
              <option value="north">North</option>
              <option value="central">Central</option>
              <option value="pta">PTA</option>
              <option value="coastal">Coastal</option>
              <option value="jhb">JHB</option>
            </select>
          </div>
          <div class="item">
            <label>Choose Store:</label>
            <select id="store_list">
              <!-- dynamically load list here -->
            </select>          
          </div>

          <div class="table-responsive">

            <!-- PEOPLE -->
            <div class="table-item people">
              <label>PEOPLE</label>
              <table class="table table-striped table-sm">
                <tbody>
                  <tr>
                    <td>VM Champ position filled</td>
                    <td><input type="text" placeholder="0" class="number-input"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>Availability of VM champ</td>
                    <td><input type="text" placeholder="0" class="number-input"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>Availability of Store Manager</td>
                    <td><input type="text" placeholder="0" class="number-input"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>                                
                </tbody>
              </table>
            </div>

            <!-- MERCHANDISING ACCORDING TO BASIC PRINCIPLES -->
            <div class="table-item merBasicPrinc">
              <label>MERCHANDISING ACCORDING TO BASIC PRINCIPLES</label>
              <table class="table table-striped table-sm">
                <tbody>
                  <tr>
                    <td>SKU Availability: Full range &amp; size curve on sales floor</td>
                    <td><input type="text" placeholder="0" class="number-input"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>Stock Merchandising (Intensity): Space optimised according to stock levels</td>
                    <td><input type="text" placeholder="0" class="number-input"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>Merchandising in stories + categories (wardrobe)</td>
                    <td><input type="text" placeholder="0" class="number-input"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>Balancing of walls</td>
                    <td><input type="text" placeholder="0" class="number-input"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>Outposting principle applied / opportunities taken</td>
                    <td><input type="text" placeholder="0" class="number-input"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>Stock rotation</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>  
                  <tr>
                    <td>Mannequins (positioning and dressing)</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>Management of odds (LoBS/Final clearance/SALE/odds baskets)</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- HOUSEKEEPING -->
            <div class="table-item housekeeping">
              <label>HOUSEKEEPING</label>
              <table class="table table-striped table-sm">
                <tbody>
                  <tr>
                    <td>Stock Recovery (Stock room management / floor recovery)</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>General neatness + cleanliness</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>Hanger discipline (correct hanger, hanger facing,  size sticker)</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>Sizing discipline (small to big, front to back - fasion + flatpack)</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>Maintenance logged/actioned (mirrors, spotlights, footstools etc)</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>Steaming</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>  
                  <tr>
                    <td>Store gridding according to floorplan (layout + presentation)</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>Management of POS (Latest POS clean-up done, storage of POS)</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- VALUE MESSAGING ELEMENTS -->
            <div class="table-item valMsgElem">
              <label>VALUE MESSAGING ELEMENTS</label>
              <table class="table table-striped table-sm">
                <tbody>
                  <tr>
                    <td>Pricecards: A8's (Home, Lingerie, Footwear, Baby toiletries)</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>Pricecards: A5's (FC, LOTBS, Enter &amp; Exit, ER)</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>Pricecards: Fins (Fin rails)</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>FMCG Pricing (Baby toiletries, nappies, sweets)</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>Departmental / Famous For indicator</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>Famous For fins</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>  
                  <tr>
                    <td>Fitt room signage</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>Cellular cabinet signage</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>Last of the Bestsellers/Final Clearance</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>Hardware elements (magnets, c-hooks, famous for clips)</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>Easy Reacher A5 + easy reacher hook</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>Service Centre: Till area (Till backdrops, Till talkers, Till mats, Enter/Exit)</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>Service Centre: Cellular + FinServ (Leaflets, A8's, Cellular cabinet signage)</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>Windows: Trading Hrs &amp; Credit Decals</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>                                                                                                            
                </tbody>
              </table>
            </div>

            <!-- SEASONAL LOOK SPEC -->
            <div class="table-item seasSpec">
              <label>SEASONAL LOOK SPEC</label>
              <table class="table table-striped table-sm">
                <tbody>
                  <tr>
                    <td>Famous For statements</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>Replen statements (Flatpack / Categories)</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>Smalls</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>Logical department layout / flow (sequence of stands acc to seasonal look)</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>Home</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>School</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>  
                  <tr>
                    <td>Footwear</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>Fin-Serv &amp; Cellular</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>Queue-Barrier &amp; Toys</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- PROMOTIONAL -->
            <div class="table-item promotional">
              <label>PROMOTIONAL</label>
              <table class="table table-striped table-sm">
                <tbody>
                  <tr>
                    <td>Windows (Polytwirl + Posters)</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>Promotional nest</td>
                    <td><input type="text" placeholder="0"></td>
                  </tr>
                  <tr>
                    <td>Sensormatic inserts</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>Department deals/promotions</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                  <tr>
                    <td>Weekly information/Tasks</td>
                    <td><input type="text" placeholder="0"></td>
                    <td><input type="text" placeholder="Add comments here..."></td>
                  </tr>
                </tbody>
              </table>
            </div>                                                            

          </div>

          <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">SAVE</button>
          <!-- addWorksheet-btn -->
        </main>
      </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">&nbsp;</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to continue and save the form?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Don't save</button>
            <button type="button" class="btn btn-primary addWorksheet-btn">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../js/vendor/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

		<!-- SCRIPTS -->
		<script src="../../js/vendor/jquery.min.js"></script>
    <script src="../../js/vendor/datepicker.min.js"></script> 
		<script src="../../js/app.js"></script>

	</body>
</html>